.home {
  padding: 20px;
}

.home-products {
  margin-top: 40px;
  text-align: center;
}

.home-products h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
  padding: 0 10px;
}
